*{box-sizing:border-box}body,html{position:relative;margin:0}.nav,.navbar{display:block}.nav{list-style:none;padding:0;margin:0;overflow:hidden}.nav>li{float:left}.nav a{display:block;padding:1rem}.nav .dropdown{display:none;list-style:none;padding:0;margin:0;position:absolute;z-index:-1}.nav .dropdown.open{display:block;z-index:50}.hidden-mobile{display:none}@media (min-width:768px){.hidden-mobile{display:block}.nav .dropdown,.nav .dropdown-toggle{display:none}}
/*# sourceMappingURL=style.css.map */